# ignore file

# directories
sandbox/
vivado/
os_pfb_prj/
exports/
.Xil

# python
*.pyc

# matlab
*.m~

# binary and data files
*.bin
*.out
*.dat
*.coeff
*.txt
coeff/

# vivado logs
*.log
*.jou
*.str

# questa sim
work/
transcript
vsim.wlf
*.do

# misc
history.txt
__pycache__/
*.swp

.DS_Store
