# ignore file

# directories
sandbox/
vivado/
os_pfb_prj/
exports/

# matlab
*.m~

# binary and data files
*.bin
*.out
*.dat

# vivado logs
*.log
*.jou
*.str

work/
history.txt
__pycache__/
*.swp

.DS_Store
